extends layout.pug

block header
  title Delete Step

block content
    .py-3.text-center
        h2.bd-title Are you sure you want to delete Step #{recipe_step.step_number} from #{recipe.title}?
    form.w-100.needs-validation(method='post')
        input.btn.btn-primary.btn-lg(type='submit', value='Yes')
    a.btn.btn-primary.btn-lg(href='recipes/' id='recipes' name='recipes') Cancel