extends layout.pug

block header
  title Delete Recipe

block content
    .my-4.text-center
        h3.bd-title Are you sure you want to delete #{recipe.title} recipe?
    form.w-100.needs-validation(method='post')
        input.btn.btn-danger.btn-lg(type='submit', value='Delete')
    a.btn.btn-primary.btn-lg(href=`/recipes/${recipe.recipe_id}` id='recipes' name='recipes') Cancel